USE [master]
GO
/****** Object:  Database [BcilTimeSheet]    Script Date: 5/30/2019 6:45:58 PM ******/
CREATE DATABASE [BcilTimeSheet] ON  PRIMARY 
( NAME = N'BcilTimeSheet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\BcilTimeSheet.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BcilTimeSheet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\BcilTimeSheet_log.ldf' , SIZE = 2880KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BcilTimeSheet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BcilTimeSheet]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Activity](
	[ActivityId] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [varchar](50) NOT NULL,
	[ActivityType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Client]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Client__E67E1A24D62D2F47] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocumentTimeSheet]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentTimeSheet](
	[Uid] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[LoggedHrs] [decimal](18, 2) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[StartAt] [bigint] NOT NULL,
	[EndAt] [bigint] NOT NULL,
	[Remark] [varchar](500) NULL,
	[ClientId] [int] NULL,
	[AssignBy] [varchar](50) NULL,
	[Review1] [varchar](100) NULL,
	[Review2] [varchar](100) NULL,
	[Status] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Mname] [varchar](50) NULL,
	[Lname] [varchar](50) NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[EmailId] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Employee_IsActive]  DEFAULT ((1)),
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[IsSalesPerson] [bit] NULL,
	[IsSuperUser] [bit] NULL,
	[ManagerId] [int] NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK__Employee__7AD04F1175992FD6] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GracePeriod]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GracePeriod](
	[GraceId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[GraceFrom] [datetime] NOT NULL,
	[GraceTo] [datetime] NOT NULL,
	[Duration] [smallint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
 CONSTRAINT [PK_GracePeriod] PRIMARY KEY CLUSTERED 
(
	[GraceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[SalesPerson] [int] NULL,
	[EstimatedHrs] [decimal](18, 0) NULL,
	[ECompletionDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Project_IsActive]  DEFAULT ((0)),
	[ClientId] [int] NOT NULL CONSTRAINT [DF_Project_ClientId]  DEFAULT ((0)),
	[State] [int] NULL CONSTRAINT [DF_Project_State]  DEFAULT ((0)),
	[StartDate] [datetime] NULL,
	[FinishDate] [datetime] NULL,
	[PlanMainDays] [decimal](18, 0) NULL,
	[ProjectType] [int] NULL,
	[ProjectCost] [decimal](18, 0) NULL,
	[SOPF] [varchar](100) NULL,
	[OrderDate] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[AssignDate] [datetime] NULL,
 CONSTRAINT [PK__Project__761ABEF0647C3156] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProjectHistory]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProjectHistory](
	[ProjectHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NULL,
	[ProjectName] [varchar](50) NULL,
	[SalesPerson] [int] NULL,
	[EstimatedHrs] [decimal](18, 0) NULL,
	[ECompletionDate] [datetime] NULL,
	[Status] [int] NULL,
	[ClientId] [int] NULL,
	[State] [int] NULL,
	[StartDate] [datetime] NULL,
	[FinishDate] [datetime] NULL,
	[PlanMainDays] [decimal](18, 0) NULL,
	[OrderDate] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProjectResources]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectResources](
	[ProjectResourceId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[UserRoleId] [int] NOT NULL,
	[AllocationFrom] [datetime] NULL,
	[AllocationTo] [datetime] NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK__ProjectR__C3C6C2129BB00D28] PRIMARY KEY CLUSTERED 
(
	[ProjectResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectResourcesHistrory]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectResourcesHistrory](
	[ProjectResourcesHistroryId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectResourceId] [int] NULL,
	[ProjectId] [int] NULL,
	[UserRoleId] [int] NULL,
	[AllocationFrom] [datetime] NULL,
	[AllocationTo] [datetime] NULL,
	[EmployeeId] [int] NULL,
	[RecordCreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectResourcesHistroryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[Uid] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[LoggedHrs] [decimal](18, 2) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[StartAt] [bigint] NOT NULL CONSTRAINT [DF_TimeSheet_StartAt]  DEFAULT ((0)),
	[EndAt] [bigint] NOT NULL CONSTRAINT [DF_TimeSheet_EndAt]  DEFAULT ((0)),
	[Remark] [varchar](500) NULL,
 CONSTRAINT [PK__TimeShee__C5B69A4ABE7CD057] PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSheetHistory]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetHistory](
	[TimeSheetHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[Uid] [bigint] NULL,
	[ProjectId] [int] NULL,
	[EmployeeId] [int] NULL,
	[ActivityId] [int] NULL,
	[LogDate] [datetime] NULL,
	[LoggedHrs] [decimal](18, 0) NULL,
	[UpdatedDate] [datetime] NULL,
	[StartAt] [bigint] NULL,
	[EndAt] [bigint] NULL,
	[Remark] [varchar](100) NULL,
	[RecordCreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSheetHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Token]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK__Token__3214EC07C61808EE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[LoginId] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Salt] [varchar](50) NULL,
	[IsSuperUser] [bit] NULL,
	[IsAllowedReport] [bit] NULL,
 CONSTRAINT [PK__User__1788CC4C9AA2737C] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 5/30/2019 6:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([ActivityId], [ActivityName], [ActivityType]) VALUES (1, N'Bug Fixing', 2)
INSERT [dbo].[Activity] ([ActivityId], [ActivityName], [ActivityType]) VALUES (2, N'Testing', 1)
INSERT [dbo].[Activity] ([ActivityId], [ActivityName], [ActivityType]) VALUES (3, N'Coding Test', 1)
SET IDENTITY_INSERT [dbo].[Activity] OFF
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientId], [ClientName], [IsActive]) VALUES (1, N'Dominos', 1)
INSERT [dbo].[Client] ([ClientId], [ClientName], [IsActive]) VALUES (2, N'Sarvoday', 1)
INSERT [dbo].[Client] ([ClientId], [ClientName], [IsActive]) VALUES (3, N'Hero Motocop', 0)
SET IDENTITY_INSERT [dbo].[Client] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [IsActive]) VALUES (1, N'Software', 1)
INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [IsActive]) VALUES (2, N'RFID', 1)
INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [IsActive]) VALUES (3, N'Hardware', 1)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [Fname], [Mname], [Lname], [EmployeeCode], [EmailId], [IsActive], [CreatedOn], [CreatedBy], [IsSalesPerson], [IsSuperUser], [ManagerId], [DepartmentId]) VALUES (1, N'Akhilesh', N'Kumar', N'Verma', N'admin', N'akhilesh@barcodeindia.com', 1, CAST(N'2017-12-27 09:52:55.367' AS DateTime), 1, 0, 0, 0, 1)
INSERT [dbo].[Employee] ([EmployeeId], [Fname], [Mname], [Lname], [EmployeeCode], [EmailId], [IsActive], [CreatedOn], [CreatedBy], [IsSalesPerson], [IsSuperUser], [ManagerId], [DepartmentId]) VALUES (2, N'Vijay', N'Kumar', N'Vicky', N'user', N'vijay.kumar@barcodeindia.com', 1, CAST(N'2017-12-27 09:53:37.490' AS DateTime), 1, 0, 0, 0, 1)
INSERT [dbo].[Employee] ([EmployeeId], [Fname], [Mname], [Lname], [EmployeeCode], [EmailId], [IsActive], [CreatedOn], [CreatedBy], [IsSalesPerson], [IsSuperUser], [ManagerId], [DepartmentId]) VALUES (1002, N'Vijay', N'Kumar', N'Pratap', N'B999', N'vijay.pratap@barcodeindia.com', 1, CAST(N'2018-01-02 14:35:51.000' AS DateTime), 1, 0, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[GracePeriod] ON 

INSERT [dbo].[GracePeriod] ([GraceId], [EmployeeId], [GraceFrom], [GraceTo], [Duration], [CreatedOn], [CreatedBy]) VALUES (1, 1, CAST(N'2018-01-09 15:19:40.000' AS DateTime), CAST(N'2018-01-09 15:19:40.000' AS DateTime), 10, CAST(N'2018-01-09 15:19:54.590' AS DateTime), 1)
INSERT [dbo].[GracePeriod] ([GraceId], [EmployeeId], [GraceFrom], [GraceTo], [Duration], [CreatedOn], [CreatedBy]) VALUES (2, 1, CAST(N'2018-01-09 15:19:40.000' AS DateTime), CAST(N'2018-01-09 15:19:40.000' AS DateTime), 15, CAST(N'2018-01-09 15:19:54.600' AS DateTime), 1)
INSERT [dbo].[GracePeriod] ([GraceId], [EmployeeId], [GraceFrom], [GraceTo], [Duration], [CreatedOn], [CreatedBy]) VALUES (3, 2, CAST(N'2018-01-09 17:38:04.000' AS DateTime), CAST(N'2018-01-09 17:38:04.000' AS DateTime), 1, CAST(N'2018-01-09 17:38:04.620' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[GracePeriod] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[ProjectHistory] ON 

SET IDENTITY_INSERT [dbo].[ProjectHistory] OFF
SET IDENTITY_INSERT [dbo].[ProjectResources] ON 

INSERT [dbo].[ProjectResources] ([ProjectResourceId], [ProjectId], [UserRoleId], [AllocationFrom], [AllocationTo], [EmployeeId]) VALUES (1, 3, 1, CAST(N'2017-12-28 00:00:00.000' AS DateTime), CAST(N'2017-12-30 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ProjectResources] ([ProjectResourceId], [ProjectId], [UserRoleId], [AllocationFrom], [AllocationTo], [EmployeeId]) VALUES (2, 4, 3, CAST(N'2018-01-01 00:00:00.000' AS DateTime), CAST(N'2018-01-11 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ProjectResources] ([ProjectResourceId], [ProjectId], [UserRoleId], [AllocationFrom], [AllocationTo], [EmployeeId]) VALUES (3, 4, 1, CAST(N'2018-01-02 00:00:00.000' AS DateTime), CAST(N'2018-01-13 00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[ProjectResources] OFF
SET IDENTITY_INSERT [dbo].[ProjectResourcesHistrory] ON 

INSERT [dbo].[ProjectResourcesHistrory] ([ProjectResourcesHistroryId], [ProjectResourceId], [ProjectId], [UserRoleId], [AllocationFrom], [AllocationTo], [EmployeeId], [RecordCreatedOn]) VALUES (1, 1, 3, 1, CAST(N'2017-12-28 00:00:00.000' AS DateTime), CAST(N'2017-12-30 00:00:00.000' AS DateTime), 1, CAST(N'2018-05-08 12:20:39.860' AS DateTime))
INSERT [dbo].[ProjectResourcesHistrory] ([ProjectResourcesHistroryId], [ProjectResourceId], [ProjectId], [UserRoleId], [AllocationFrom], [AllocationTo], [EmployeeId], [RecordCreatedOn]) VALUES (2, 2, 4, 3, CAST(N'2018-01-01 00:00:00.000' AS DateTime), CAST(N'2018-01-11 00:00:00.000' AS DateTime), 1, CAST(N'2018-05-08 12:20:39.860' AS DateTime))
INSERT [dbo].[ProjectResourcesHistrory] ([ProjectResourcesHistroryId], [ProjectResourceId], [ProjectId], [UserRoleId], [AllocationFrom], [AllocationTo], [EmployeeId], [RecordCreatedOn]) VALUES (3, 3, 4, 1, CAST(N'2018-01-02 00:00:00.000' AS DateTime), CAST(N'2018-01-13 00:00:00.000' AS DateTime), 2, CAST(N'2018-05-08 12:20:39.860' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProjectResourcesHistrory] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Developer')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Quality Analyst')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Team lead')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([Uid], [ProjectId], [EmployeeId], [ActivityId], [LogDate], [LoggedHrs], [UpdatedDate], [StartAt], [EndAt], [Remark]) VALUES (1, 2, 2, 2, CAST(N'2017-12-13 05:30:00.000' AS DateTime), CAST(8.00 AS Decimal(18, 2)), CAST(N'2017-12-29 11:03:36.000' AS DateTime), 0, 0, N'Test')
INSERT [dbo].[TimeSheet] ([Uid], [ProjectId], [EmployeeId], [ActivityId], [LogDate], [LoggedHrs], [UpdatedDate], [StartAt], [EndAt], [Remark]) VALUES (2, 2, 2, 2, CAST(N'2017-12-08 05:30:00.000' AS DateTime), CAST(2.00 AS Decimal(18, 2)), CAST(N'2017-12-29 11:03:55.000' AS DateTime), 0, 0, N'Test')
INSERT [dbo].[TimeSheet] ([Uid], [ProjectId], [EmployeeId], [ActivityId], [LogDate], [LoggedHrs], [UpdatedDate], [StartAt], [EndAt], [Remark]) VALUES (3, 3, 2, 3, CAST(N'2017-12-08 05:30:00.000' AS DateTime), CAST(4.00 AS Decimal(18, 2)), CAST(N'2017-12-29 11:04:09.000' AS DateTime), 0, 0, N'Test')
GO
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
SET IDENTITY_INSERT [dbo].[TimeSheetHistory] ON 

INSERT [dbo].[TimeSheetHistory] ([TimeSheetHistoryId], [Uid], [ProjectId], [EmployeeId], [ActivityId], [LogDate], [LoggedHrs], [UpdatedDate], [StartAt], [EndAt], [Remark], [RecordCreatedOn]) VALUES (1, 70120, 38, 2, 1, CAST(N'2018-05-09 05:30:00.000' AS DateTime), CAST(2 AS Decimal(18, 0)), CAST(N'2018-05-09 12:31:42.000' AS DateTime), 0, 0, N'', CAST(N'2018-05-09 12:35:09.527' AS DateTime))
INSERT [dbo].[TimeSheetHistory] ([TimeSheetHistoryId], [Uid], [ProjectId], [EmployeeId], [ActivityId], [LogDate], [LoggedHrs], [UpdatedDate], [StartAt], [EndAt], [Remark], [RecordCreatedOn]) VALUES (2, 70118, 3, 2, 1, CAST(N'2018-05-09 05:30:00.000' AS DateTime), CAST(2 AS Decimal(18, 0)), CAST(N'2018-05-09 12:29:31.000' AS DateTime), 0, 0, N'', CAST(N'2018-05-15 10:33:26.117' AS DateTime))
INSERT [dbo].[TimeSheetHistory] ([TimeSheetHistoryId], [Uid], [ProjectId], [EmployeeId], [ActivityId], [LogDate], [LoggedHrs], [UpdatedDate], [StartAt], [EndAt], [Remark], [RecordCreatedOn]) VALUES (3, 80123, 13, 2, 1004, CAST(N'2018-05-15 05:30:00.000' AS DateTime), CAST(2 AS Decimal(18, 0)), CAST(N'2018-05-15 10:14:39.000' AS DateTime), 0, 0, N'', CAST(N'2018-05-15 10:36:30.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[TimeSheetHistory] OFF
SET IDENTITY_INSERT [dbo].[Token] ON 

INSERT [dbo].[Token] ([Id], [Token], [UserId], [CreateDate]) VALUES (1, N'6HcjC7DmDVRIaC1DwWFpw818vaFRfSxaBLRbHWzHNG06wPHPwsTPOmvItU/BxO2xRt1yOnoEg/aCcZmMZEw+8ljkqCjr3/jXUEkBx+rRnt7tEGQ+joYQ8bEvUV8tQwyARtZBvQ==', 1, CAST(N'2017-12-27 10:36:33.350' AS DateTime))
INSERT [dbo].[Token] ([Id], [Token], [UserId], [CreateDate]) VALUES (2, N'QBibH9u2ELa2IKl+eMyv3PUZiLsGgvus18SKp75tR/1/HrH5GV4qyYSXVOSjRCP1Y5vTvAkocYJyno1uZdLH+je9FlIOc33QCfNz4yHvEdlR/DidU6q77thnWC3c6prNlRCMoA==', 1, CAST(N'2017-12-27 13:09:25.277' AS DateTime))
INSERT [dbo].[Token] ([Id], [Token], [UserId], [CreateDate]) VALUES (3, N'DkmknXYFgd4dBmuLQrCHEO86hIm7QVuLAbgqfdnbpAh5tmwYpoBJYO5cdoZuY2uTD3WzjMuu31RXQJCiXlkMC4PXD7tQ4cmehNEZ7Iw6Nzq+ovVlwxdth0meUK2dRjXsUqAmxA==', 1, CAST(N'2017-12-27 14:06:44.343' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Token] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [EmployeeId], [LoginId], [Password], [Salt], [IsSuperUser], [IsAllowedReport]) VALUES (1, 1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'salt1', 1, 1)
INSERT [dbo].[User] ([UserId], [EmployeeId], [LoginId], [Password], [Salt], [IsSuperUser], [IsAllowedReport]) VALUES (2, 2, N'user', N'04f8996da763b7a969b1028ee3007569eaf3a635486ddab211d512c85b9df8fb', N'srGtXV24', 0, 1)
INSERT [dbo].[User] ([UserId], [EmployeeId], [LoginId], [Password], [Salt], [IsSuperUser], [IsAllowedReport]) VALUES (3, 1003, N'B693', N'b3f9c690f2118ca515fd0826de266b42b6e29a70f18ebeb5833716a4f4127163', N'srGtXV24', 0, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
USE [master]
GO
